@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Raleway:wght@300;500;600;900&display=swap');
body{
    margin: 0;
    line-height: 1;
    background-color: #F8B070;
}

*{
    padding: 0;
    margin: 0;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
}

body,
input,
textarea,
button{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


.container{
    /*background-color: red;*/
    max-width: 80%;
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    position: relative;
}

.section-title h1:before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: -5px ;
    width: 80px;
    height: 3px;
    background-color: #FF9800;
}

/*header*/
.header{
    /*background-color: red;*/
}

.header .web-title{
    padding-top: 20px;
    padding-bottom: 10px;
}

.header .web-title a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    letter-spacing: 10px;
}

.header .web-title a:hover{
    color: #FF9800;
}



/*home section start*/
.home-section{
    min-height: 100vh;
}

.home-section .video_container{
    /*background-color: green;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-section .video_container #player{
    width: 100%;
}

.home-section .nav{
    width: 100%;
    margin: 0 auto;
}

.home-section .nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.home-section .nav ul li{
    
    display: inline-block;
    
    width: 33.33%;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;

    
}

.home-section .nav ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 25px 0;
}

/*about section*/


.about-section .about-img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

.about-section .about-img .img-box img{
    width: 100%;
    height: 400px;
    display: block;
}

.about-section .about-content{
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.about-section .about-content p{
    font-size: 20px;
    color: black;
    line-height: 26px;
    margin: 0;
}

.hash-tag{
    margin-top: 60px;
}

.about-section .hash-tag-item{
    padding-right: 40px;
}

.about-section .hash-tag-item h2{
    font-size: 40px;
    font-weight: 700;
}



