@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Raleway:wght@300;500;600;900&display=swap');
body{
    margin: 0;
    line-height: 1;
    background-color: #F8B070;
}

*{
    padding: 0;
    margin: 0;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
}

body,
input,
textarea,
button{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


.container{
    /*background-color: red;*/
    max-width: 80%;
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.align-items-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    position: relative;
}

.section-title h1:before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: -5px ;
    width: 80px;
    height: 3px;
    background-color: #FF9800;
}

/*header*/

.header .web-title{
    padding-top: 20px;
    padding-bottom: 10px;
}

.header .web-title a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    letter-spacing: 10px;
}

.header .web-title a:hover{
    color: #FF9800;
}



/*home section start*/
.home-section{
    min-height: 100vh;
}

.home-section .video_container{
    /*background-color: green;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-section .video_container #player{
    width: 100%;
}

.home-section .nav{
    width: 100%;
    margin: 0 auto;
}

.home-section .nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.home-section .nav ul li{
    
    display: inline-block;
    
    width: 33.33%;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;

    
}

.home-section .nav ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 25px 0;
}

/*about section*/


.about-section .about-img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

.about-section .about-img .img-box img{
    width: 100%;
    height: 400px;
    display: block;
}

.about-section .about-content{
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.about-section .about-content p{
    font-size: 20px;
    color: black;
    line-height: 26px;
    margin: 0;
}

.hash-tag{
    margin-top: 60px;
}

.about-section .hash-tag-item{
    padding-right: 40px;
}

.about-section .hash-tag-item h2{
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    
}

.about-section .hash-tag-item:hover h2{
    animation: rainbow 1.5s infinite;
}

@keyframes rainbow{
    0% { color: #ff0000; } /* Red */
    16.666% { color: #ff8000; } /* Orange */
    33.333% { color: #ffff00; } /* Yellow */
    50% { color: #80ff00; } /* Lime */
    66.666% { color: #00ff80; } /* Aqua */
    83.333% { color: #0080ff; } /* Blue */
    100% { color: #8000ff; } /* Purple */
}

/*move section start*/
.move-section{
    padding: 80px 0 0;
}

.move-section .move-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.move-section .move-item-inner{
    position: relative;
    overflow: hidden;
}

.move-section .move-item-inner .move-gif{
    display: none;
}

.move-section .move-item-inner img{
    width: 100%;
    height: 100%;
    display: block;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.move-section .move-item-inner .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.move-section .move-item-inner:hover .overlay{
    background-color: transparent;
}

.move-section .move-item-inner .overlay h4{
    color: white;
    font-size: 20px;
    margin: 0;
    text-align: center;
    transition: all 0.5s ease;
    text-transform: capitalize;
}

.move-section .move-item-inner .overlay:hover h4{
    transform: translateX(20px);
    opacity: 0;
}
/*move-section End*/

/*music-section Start*/
.music-section{
    padding: 80px 0 0;
}
.music-section p{
    font-size: 20px;
}
.music-section .music-content{
    padding: 40px 0;
}

.music-section .music-item button{
    padding: 60px auto;
    
    
}

/*music-section End*/





